<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
    <form action="#" th:action="@{/output}" th:object="${compileRequirements}" method="post">
    	<p>Language Name: <input type="text" th:field="*{languageName}" /></p>
        <p>Code: <input type="text" th:field="*{code}" /></p>
        <p>Input: <input type="text" th:field="*{input}" /></p>
        
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>